* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
}

body.theme-dark{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);

.todo-title,
.fa-brush {
  color: white;
}

.list-title {
    color: #020028;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid whitesmoke;
}

.list-container {
  margin-top: 50px;
}

.list-item__part1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-title {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-align: center;
  margin: 50px 0;
  color: black;
  font-size: 40px;
}


.todo-title__completed {
  font-size: 25px;
}

.important {
  color: #d32f2f;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}
.todo {
  max-width: 50%;
  margin: 0 auto;
}

.list-title {
  min-width: 150px;
  font-family: "Architects Daughter", cursive;
  list-style: none;
  color: #1976d2;
}

.list-button {
   margin: 0 5px;
}

.confirmation-modal {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.confirmation-modal__bg {
  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.completedTasks__container {
  width: 100%;
  min-height: 20vh;
  background-color: white;
  padding: 5px;
}

.completeTask {
  display: flex;
  font-style: italic;
  font-size: 20px;
}

.completeTask__btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.fa-check,
.list-title__completed {
  padding: 0 10px;
  color: green;
}


.fa-brush {
  padding: 10px 4px;
  color: #1976d2;
  font-size: 20px;
  cursor: pointer;
}
