* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.list-container {
  margin-top: 50px;
}

.todo-title {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  text-align: center;
  margin: 50px 0;
  color: black;
  font-size: 40px;
}

.important {
  color: #d32f2f;
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}
.todo {
  max-width: 50%;
  margin: 0 auto;
}

.list-title {
  min-width: 150px;
    font-family: "Architects Daughter", cursive;
}

.list-button {
   margin: 0 5px;
}



